.Login-form{
    background-color: white;
    color: #2196f3;
    padding: 25px;
    border-radius: 15px;
    max-width: 500px;
    max-height: 400px;
}
.login-page {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
}
.header {
    text-transform: uppercase;
    font-weight: 600;
    font-family: initial;
    margin-bottom: 30px;
    position: relative;
    left: -35%;
}
.btn-login {
    text-transform: uppercase;
    font-weight: 600;
    font-family: initial;
    margin-top: 30px;
    position: relative;
    left: -39%;
}


